<div class="bg">
<mat-card elevation="5" fxFlex class="content">

    <mat-card-title>
        <h2>Change password</h2>
    </mat-card-title>
    <mat-card-content>
        
        <p *ngIf="notification" [class]="notification.msgType">{{notification.msgBody}}</p>
        <form (ngSubmit)="onSubmit()" *ngIf="!submitted" [formGroup]="updatePasswordForm">

            <mat-form-field>
                <label for="oldPassword">Old Password</label>
                        <input matInput class="form-control" id="oldPassword"  value="" type="password" formControlName="oldPassword" />
                        <div *ngIf="oldPassword.touched && oldPassword.errors" class="text-danger">
                            <span *ngIf="oldPassword.hasError('required')">Old Password is required.</span>
                        </div>
            </mat-form-field>

            <mat-form-field>
                <label for="newPassword">New Password</label>
                <input matInput class="form-control" id="newPassword"  value="" type="password" formControlName="newPassword" />
                <div *ngIf="newPassword.touched && newPassword.errors" class="text-danger">
                    <span *ngIf="newPassword.hasError('required')">Password is required.</span>
                    <span *ngIf="newPassword.hasError('maxlength')">Only 15 characters allowed for password.</span>
                    <span *ngIf="newPassword.hasError('minlength')">Atleast 8 characters needed for password.</span>
                </div>
            </mat-form-field>

            <mat-form-field>
                <label for="cnewPassword">Confirm New Password</label>
                <input
                     matInput
                    class="form-control"
                    value=""
                    id="cnewPassword"
                    type="password"
                    formControlName="cnewPassword"
                />
                <div *ngIf="cnewPassword.touched && cnewPassword.errors" class="text-danger">
                    <span *ngIf="cnewPassword.hasError('required')">Confirm Password is required.</span>
                    <span *ngIf="cnewPassword.hasError('mustMatch')">Confirm Password Must Match.</span>
                </div>
            </mat-form-field>
            <button [disabled]="!updatePasswordForm.valid"  mat-raised-button type="submit">Update user</button>
            <br>
            <button  mat-raised-button routerLink="/home" >Go Back</button>

        </form>
        <br>

        <br>
        <hr>
    
    </mat-card-content>

</mat-card>
</div>