<mat-card class="card-container">
  <mat-card-header>
    
    <mat-card-subtitle > Posted by: {{displayName}}</mat-card-subtitle>
    <mat-card-title ><b>{{title}}</b></mat-card-title>
    
  </mat-card-header>
  <mat-card-content>
    <p>
      {{content}}
    </p>
  </mat-card-content>
  <mat-card-actions>

    <div>   


        <button (click)="upvote()"  class="primary" mat-raised-button>
          <img src="../assets/like.png" style="width: 20px">
        </button>
    
        <div class="likes">{{likes}}</div>
        <div style="margin-left: 35%;">

    
        <button (click)="onButtonClick1()" color="primary" mat-raised-button>
          List
        </button>
        <button (click)="onButtonClick2()" color="primary" mat-raised-button>
          Number of likes
        </button>
      </div>
      </div>

      <div style="margin-left: 35%;" class="list">{{listOfUsers}}</div>



    </mat-card-actions>


</mat-card>