<div class="bg">
<mat-card elevation="5" fxFlex class="content">

    <mat-card-title>
        <h2>Create post</h2>
    </mat-card-title>
    <mat-card-content>
        
        <p *ngIf="notification" [class]="notification.msgType">{{notification.msgBody}}</p>
        <form (ngSubmit)="onSubmit()" *ngIf="!submitted" [formGroup]="form">

            

            <textarea formControlName="title" class = "mat-form" rows="10" required type="title"></textarea>
            <button [disabled]="!form.valid"  mat-raised-button type="submit">Create post</button>
            <br>
            <button  mat-raised-button routerLink="/home" >Go Back</button>

        </form>
        <br>

        <br>
        <hr>
    
    </mat-card-content>

</mat-card>
</div>
