<div class="bg">
<mat-card elevation="5" fxFlex class="content">

    <mat-card-title>
        <h2>Create community</h2>
    </mat-card-title>
    <mat-card-content>
        
        <p *ngIf="notification" [class]="notification.msgType">{{notification.msgBody}}</p>
        <form (ngSubmit)="onSubmit()" *ngIf="!submitted" [formGroup]="form">

            <mat-form-field>
                <input formControlName="name" matInput placeholder="Name" required>
            </mat-form-field>

            <textarea formControlName="description" class = "mat-form" rows="10" placeholder="Description..." >Description...</textarea>
            <button [disabled]="!form.valid"  mat-raised-button type="submit">Create community</button>
            <br>
            <button  mat-raised-button routerLink="/home" >Go Back</button>

        </form>
        <br>

        <br>
        <hr>
    
    </mat-card-content>

</mat-card>
</div>
