<div class="bg">
<div *ngIf="community" class = 'content'>

  <p>{{community?.name}}</p>

  <div class="posts">

    <div *ngFor="let post of posts">
      <p> 
        <app-card (apiClick)="makeRequest($event)"  apiText="Comments" fxFlex
        postId={{post.id}} content={{post.text}} title={{post.title}} author= {{post.author_name}} club={{post.community_name}} >
        </app-card>
      </p>
    </div>

  </div>


  <div class="rules">
    <app-rulescard club={{community?.name}} moderator={{owner}} description={{community?.description}}></app-rulescard>
  </div>
</div>
</div>








