.bg{height: 100%;
    background-color: rgb(116, 144, 174);}
.content {
    padding: 3%;
   
    height: auto;
    white-space:nowrap;
    
}

.posts{
    display: inline-block;
    width:90%;
    margin-left: 2%;
    margin-right: 0%;
}

.rules{
    display: inline-block;
    margin-left:-5%;
}
p {
text-align: center;
   line-height: 50px;
   font-size: 30px;
   }